@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto text-center">
            <h1 class="display-4 mb-6">Welcome to our To Do List App</h1>
            <br />
            <br />
            <a href="/Identity/Account/Register" class="btn  btn-lg btn-primary me-2">Register</a>
            <a href="/Identity/Account/Login" class="btn  btn-lg btn-outline-primary">Login</a>
    </div>
  </div>
</div>